<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EADb" connectionString="Server=MTNB936;Database=WahanaRucikaNusantara;user id=sa;password=Green123;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="PackageName" value="WNR Component Diagram"/>
    <add key="DiagramName" value="WNR Component Diagram"/>
    <add key="ApplicationDataFile" value="Application.csv"/>
    <add key="ConnectorDataFile" value="Connector.csv"/>
  </appSettings>
</configuration>